<!DOCTYPE html>
<html>

<head>
 
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <title>LA Commute</title>
</head>

<body>
    <div class="wrapper">
        <div id="new_top" class="tabcontent tabheader">
            <div class="topBar">
                <img src="/assets/images/altaLogo.png" alt="alta logo" width="15%" height="15%">
                <h1>LA Commute Tracker</h1>
            </div>
            <h2>Map Your Commute</h2>

        </div>
        <div id="old_top" class="tabcontent tabheader">
            <div class="topBar">
                <img src="/assets/images/altaLogo.png" alt="alta logo" width="25%" height="25%">
                <h1>LA Commute Tracker</h1>
            </div>
            <h2>Commute History</h2>
        </div>

        <button class="tablink" onclick="openTab('new_top', 'new_bot', this, '#007468')" id="defaultOpen">New Commute</button>

        <button class="tablink" onclick="openTab('old_top','old_bot', this, '#E3BC00')">Commute History</button>

        <div id="new_bot" class="tabcontent tabBody">
            <h3>Enter Your Home or Destination</h3>
            <button class="modalButton">Set Home Address</button>
            <button class="modalButton">Set Destination</button>
            <hr>
            <div id="map"></div>

        </div>

        <div id="old_bot" class="tabcontent tabBody">
            <h3>Desination History</h3>
            <hr>
           <div id="map_canvas"></div>
           
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/javascript/style.js"></script>
    <script src="/assets/javascript/script.js"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAO_5EXdJxMWNRJNL7mACcn9SLgy-7URXQ&callback=initMap"></script>
</body>

</html>